spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/bankcards}
    username: ${SPRING_DATASOURCE_USERNAME:user}
    password: ${SPRING_DATASOURCE_PASSWORD:pass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

server:
  port: 8080

app:
  crypto:
    key: "${CRYPTO_KEY:lq9cjTL/c/6S8+/ze8YfsvdGY0BFAG05cjDEXUaRM64=}"